{% extends "empty_base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block body_block %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <div id="main_window">
        <form method="post">
            {% csrf_token %}

            <p>Are you sure you want to delete "This Appointment"?</p>

            <button type="submit" class="btn btn-danger" value="Delete">Confirm <i class="fas fa-check-circle"></i></button>

            <a class="btn btn-warning" href="{% url 'appointment:appointment' pk=object.client_pk %}">
                Back <i class="fas fa-times-circle"></i>
            </a>


        </form>
    </div>


{% endblock %}




