{% extends 'base.html' %}
{% load static %}




{% block body_block %}

<div class="container" id="about">
  <div class="row">

    <div class="col">
        <img  src="https://avatars2.githubusercontent.com/u/36026691?s=460&v=4"  style="border:1px solid black; border-radius: 150px; height: 200px; width: 200px">

        <p>Minglun Zhang</p>
        <p>minglunz@student.unimelb.edu.au</p>
        <p style="letter-spacing: 20px; font-size: 35px">
            <span><a href="https://github.com/Lo1nt" target="_blank"><i class="fab fa-github"></i></a></span>
            <span><a href="https://www.linkedin.com/in/zhang-minglun-42b248154/" target="_blank"><i class="fab fa-linkedin"></i></a></span>
        </p>

    </div>

    <div class="col">
        <img  src="https://avatars3.githubusercontent.com/u/20491087?s=460&v=4"  style="border:1px solid black; border-radius: 150px; height: 200px; width: 200px">

        <p>Yunjie Jia</p>
        <p>yunjiej@student.unimelb.edu.au</p>
        <p style="letter-spacing: 20px; font-size: 35px">
            <span><a href="https://github.com/q453773874" target="_blank"><i class="fab fa-github"></i></a></span>
            <span><a href="https://www.linkedin.com/in/yunjie-jia-2b280613a/" target="_blank"><i class="fab fa-linkedin"></i></a></span>
        </p>
    </div>

    <div class="col">
        <img  src="https://avatars1.githubusercontent.com/u/1302045?s=460&v=4"  style="border:1px solid black; border-radius: 150px; height: 200px; width: 200px">

        <p>Mustafa Neguib</p>
        <p>@student.unimelb.edu.au</p>
        <p style="letter-spacing: 20px; font-size: 35px">
            <span><a href="https://github.com/mustafaneguib" target="_blank"><i class="fab fa-github"></i></a></span>
            <span><a href="" target="_blank"><i class="fab fa-linkedin"></i></a></span>
        </p>
    </div>

    <div class="col">
        <img  src="https://avatars1.githubusercontent.com/u/26436898?s=460&v=4"  style="border:1px solid black; border-radius: 150px; height: 200px; width: 200px">

        <p>Tiancheng Zhu</p>
        <p>t.zhu13@student.unimelb.edu.au</p>
        <p style="letter-spacing: 20px; font-size: 35px">
            <span><a href="https://github.com/g708659" target="_blank"><i class="fab fa-github"></i></a></span>
            <span><a href="" target="_blank"><i class="fab fa-linkedin"></i></a></span>
        </p>

    </div>

  </div>



</div>




{% endblock %}
