{% extends 'base.html' %}
{% load static %}




{% block body_block %}

<div class="container" id="about">
  <div class="row">
    <div class="col">
        <img  src="{% static 'imgs/minglun.jpeg' %}"  style="border:1px solid black; border-radius: 150px; height: 200px; width: 200px">

        <p>Minglun Zhang</p>
        <p>minglunz@student.unimelb.edu.au</p>
        <p style="letter-spacing: 20px">
            <span><a href=""><i class="fab fa-github"></i></a></span>
            <span><a><i class="fab fa-linkedin"></i></a></span>
        </p>

    </div>

    <div class="col">
        <img  src="{% static 'imgs/minglun.jpeg' %}"  style="border:1px solid black; border-radius: 150px; height: 200px; width: 200px">

        <p>Yunjie Jia</p>
        <p>yunjiej@student.unimelb.edu.au</p>
        <p style="letter-spacing: 20px">
            <span><a href="https://github.com/q453773874"><i class="fab fa-github"></i></a></span>
            <span><a href="https://www.linkedin.com/in/yunjie-jia-2b280613a/"><i class="fab fa-linkedin"></i></a></span>
        </p>
    </div>

    <div class="col">
        <img  src="{% static 'imgs/minglun.jpeg' %}"  style="border:1px solid black; border-radius: 150px; height: 200px; width: 200px">

        <p>Mustafa Neguib</p>
        <p>@student.unimelb.edu.au</p>
        <p style="letter-spacing: 20px">
            <span><a href=""><i class="fab fa-github"></i></a></span>
            <span><a><i class="fab fa-linkedin"></i></a></span>
        </p>
    </div>

    <div class="col">
        <img  src="{% static 'imgs/minglun.jpeg' %}"  style="border:1px solid black; border-radius: 150px; height: 200px; width: 200px">

        <p>Tiancheng Zhu</p>
        <p>tianchengz@student.unimelb.edu.au</p>
        <p style="letter-spacing: 20px">
            <span><a href=""><i class="fab fa-github"></i></a></span>
            <span><a href=""><i class="fab fa-linkedin"></i></a></span>
        </p>

    </div>

  </div>




</div>




{% endblock %}
