{% extends "empty_base.html" %}
{% load staticfiles %}
{% block body_block %}



    <div id="main_window">
        <h3>~ User Profile ~</h3>
        <div class="row">
            <div class="col">
                <h4  style="text-decoration:underline">Client Info</h4>

                <p><nobr>- * Name * -</nobr></p>
                <p>{{ client_details.user_name }}</p>


                <p><nobr>- * Email * -</nobr></p>
                <p>{{ client_details.email }}</p>


                <p><nobr>- * Home Address * -</nobr></p>
                <p>{{ client_details.home_address }}</p>


                <p><nobr>- * Mobile Phone * -</nobr></p>
                <p>{{ client_details.mobile_phone }}</p>


                <p><nobr>- * Work Phone * -</nobr></p>
                <p>{{ client_details.work_phone }}</p>


                <p><nobr>- * Home Phone * -</nobr></p>
                <p>{{ client_details.home_phone }}</p>


                <p><a class="btn btn-warning" href="{% url 'accounts:profile_update' pk=client_details.pk %}">Edit Basic Info <i class="fas fa-edit"></i></a></p>
            </div>


            {% for each_dog in client_details.dog_for_user.all %}


                <div class="col">
                    <h4 style="text-decoration:underline">Dog Info</h4>

                    <p><nobr>- * Dog Name * -</nobr></p>

                    <p>{{ each_dog.dog_name }}</p>


                    <p><nobr>- * Dog Breed * -</nobr></p>
                    <p>{{ each_dog.get_dog_breed_display }}</p>


                    <p><nobr>- * Dog Birth * -</nobr></p>
                    <p>{{ each_dog.dog_birth }}</p>


                    <p><nobr>- * Dog Description * -</nobr></p>
                    <p>{{ each_dog.dog_description }}</p>


                    <p><a class="btn btn-warning" href="{% url 'accounts:dog_update' pk=each_dog.pk %}">Edit This Dog <i class="fas fa-edit"></i></a></p>
                    <p>
                        <a class="btn btn-danger" href="{% url 'accounts:dog_delete' pk=client_details.pk dog_pk=each_dog.pk dogname=each_dog.dog_name username=client_details.user_name%}">
                            Delete This Dog <i class="fas fa-trash-alt"></i>
                        </a>
                    </p>
                </div>

            {% endfor %}

        </div>
    <a href="{% url 'accounts:add_dog' pk=client_details.pk %}"><button class="btn btn-info">Add Dog <i class="fas fa-plus-square"></i></button></a>

    <a href="{% url 'accounts:login_home' %}"><button class="btn btn-success">All Done <i class="fas fa-check-square"></i></button></a>
    </div>
{% endblock %}