{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block body_block %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<div class="container">
    <div id="main_window">
        <h1>
            Update User Info
        </h1>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Update">

        </form>
    </div>
</div>

{% endblock %}