{% extends "empty_base.html" %}
{% load staticfiles %}
{% block body_block %}



    <div id="main_window">
        <h3>~ User Profile ~</h3>
        <div class="row">
            <div class="col">
                <h4>Client</h4>

                <p><span>Nick Name</span></p>
                <p>{{ client_details.user_name }}</p>


                <p><span>Email</span></p>
                <p>{{ client_details.email }}</p>


                <p><span>Home Address</span></p>
                <p>{{ client_details.home_address }}</p>


                <p><span>Mobile Phone</span></p>
                <p>{{ client_details.mobile_phone }}</p>


                <p><span>Work Phone</span></p>
                <p>{{ client_details.work_phone }}</p>


                <p><span>Home Phone</span></p>
                <p>{{ client_details.home_phone }}</p>


                <p><a class="btn btn-warning" href="{% url 'accounts:profile_update' pk=client_details.pk %}">Edit Basic Info <i class="fas fa-edit"></i></a></p>
            </div>


            {% for each_dog in client_details.dog_for_user.all %}


                <div class="col">
                    <h4>Dog</h4>

                    <p><span>Dog Name</span></p>
                    <p>{{ each_dog.dog_name }}</p>


                    <p><span>Dog Breed</span></p>
                    <p>{{ each_dog.get_dog_breed_display }}</p>


                    <p><span>Dog Birth</span></p>
                    <p>{{ each_dog.dog_birth }}</p>


                    <p><span>Dog Description:</span></p>
                    <p>{{ each_dog.dog_description }}</p>


                    <p><a class="btn btn-warning" href="{% url 'accounts:dog_update' pk=each_dog.pk %}">Edit This Dog <i class="fas fa-edit"></i></a></p>
                    <p>
                        <a class="btn btn-danger" href="{% url 'accounts:dog_delete' pk=client_details.pk dog_pk=each_dog.pk dogname=each_dog.dog_name username=client_details.user_name%}">
                            Delete This Dog <i class="fas fa-trash-alt"></i>
                        </a>
                    </p>
                </div>

            {% endfor %}

        </div>
    <a href="{% url 'accounts:add_dog' pk=client_details.pk %}"><button class="btn btn-info">Add Dog <i class="fas fa-plus-square"></i></button></a>

    <a href="{% url 'accounts:login_home' %}"><button class="btn btn-success">All Done <i class="fas fa-check-square"></i></button></a>
    </div>
{% endblock %}